.jumbotron {
  padding-top: 6rem;
  background-color: #FFE7BF;
}

#projects {
  background-color: #FFE7BF;
}

section {
  padding-top: 5rem;
}

footer {
  background-color: #A10035;
}

nav {
  background-color: #A10035;
}
